<a href="https://colab.research.google.com/github/furpurr/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
for line in lines:
    fields = line.split(",")
    print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [3]:
words = ['hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words) # 난 이게 왜 words.join(' ') 이런식이 되어야하는게 아닌지 궁금하다
print(sentence)

hello world this is a test

In [4]:
data = input("띄어쓰기로 구분해서 문자를 넣으면 list로 만들어줌")
lines = data.split(" ")
print(lines)

띄어쓰기로 구분해서 문자를 넣으면 list로 만들어줌1 2 3
['1', '2', '3']

In [5]:
data = ['Geeks', 'for', 'Geeks'] # 이거 input으로 입력받도록 해보기
output = "-".join(data) # 이거 왜 data.join("-")가 아닐까 # 목적이 되는것이 괄호안에 들어가야 해서?
print(output)

Geeks-for-Geeks

In [6]:
squares = [x**2 for x in range(5) if x%2==0]
print(squares) # [0, 4, 16]

[0, 4, 16]

In [7]:
list = [x**2 for x in range(1, 21) if x%3==0]
print(list)

[9, 36, 81, 144, 225, 324]

In [8]:
# List 생성 방법 # 궁금한것: 왜 ""로 str 저장했는데 output에는 ''로 묶이나

input = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
output = [x for x in input if x[0]=="S"] # 처음엔 input[x][0]이라고 했었는데, 이게 잘못된걸 알았다. 한번더 생각해보기.
print(output)

# 다른방법 (append 메소드) 사용해서 해보기.

['Seoul', 'Shanghai']

In [9]:
# 사용자 함수 정의

def add(x,y):
    return x+y

In [ ]:
# lambda 함수 정의: 함수명 지정하지 않고 일단 쓴다음 그 함수가 사용된 변수명을 지정해서 사용.

add=lambda x,y: x+y
print(add(5,5))

# 근데 이렇게하면, 결국 add를 사용할때 ()안에 뭔가를 넣어줘야 되는데 add 자체가 변수가 아니라 함수가 되는게 아닌가? def한거랑 결국 뭐가 다르지?