<a href="https://colab.research.google.com/github/furpurr/aipython/blob/main/240102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 하나의 변수 활용하는 코드
Lab=105
print('우리가 수업하는 실습실:')
print(Lab)

우리가 수업하는 실습실:
105

In [5]:
# 하나의 변수 활용하는 코드
Lab=105
print('우리가 수업하는 실습실:', Lab)

우리가 수업하는 실습실: 105

In [6]:
# 변수 두 개 생성하고 값 할당
my_id = 201923160
grade = 3

# 두 개의 변수에 할당된 값 출력
print('나의 학번:')
print(my_id)
print('학년:')
print(grade)

나의 학번:
201923160
학년:
3

In [7]:
# 변수에 값을 할당하고 출력하는 예제
# dollars 변수에 값을 할당
dollars = 2.75
print('I have', dollars, 'in my account')

# dollars 변수에 새로운 값을 할당
dollars = 99.95
print('Now I have', dollars, 'in my account!') # 문법이 잘못되어 수정함

I have 2.75 in my account
Now I have 99.95 in my account!

In [8]:
# 두 개의 변수를 생성하고 문자열 할당
department = '재료공학부'
name = '이동휘'

# 각 변수에 할당된 문자열 값 출력
print(department, name)

재료공학부 이동휘

In [9]:
# 학과명 입력받기
department = input('학과명: ')

# 이름 입력받기
name = input('성명: ')

# 두 변수의 값을 출력
print('안녕하세요', department, name)

학과명: 재료공학부
성명: 이동휘
안녕하세요 재료공학부 이동휘

In [13]:
# 여러분의 이름, 나이, 통학시간 정보를 입력받습니다.

name = input('당신의 이름은 무엇입니까? ')
age = int(input('나이는 어떻게 되시나요? '))
attending_time = float(input('통학시간은 얼마나 걸립니까? '))

# 변수에 입력된 데이터를 출력해봅시다.

print('입력 정보는 다음과 같습니다.')
print('이름:', name)
print('나이:', age)
print('통학시간:', attending_time)

당신의 이름은 무엇입니까? 이동휘
나이는 어떻게 되시나요? 26
통학시간은 얼마나 걸립니까? 20
입력 정보는 다음과 같습니다.
이름: 이동휘
나이: 26
통학시간: 20.0

In [14]:
# salary 변수에 급여 할당
salary = 2500.0

# bonus 변수에 보너스를 할당
bonus = 1200.0

# 급여와 보너스를 더하여 총 급여를 구함
# 총 급여를 pay 변수에 할당

pay = salary + bonus

# 총 급여를 출력
print('총 급여:', pay)

총 급여: 3700.0

In [17]:
# 원가에 할인율을 적용하여 할인가격 계산하기.

# original_price 변수에 원가를 입력받음
original_price = float(input("제품의 원가를 입력해주세요: "))

# 원가에 할인율 20%를 적용하여 할인가를 계산, discount 변수에 할당한다.
discount = original_price*0.2

# 원가에 할인가가 적용된 제품 가격을 계산하여, sale_price 변수에 할당한다ㅣ
sale_price = original_price - discount

# 할인가가 적용된 제품 가격을 출력한다.
print('할인가격:', sale_price)

제품의 원가를 입력해주세요: 100.00
할인가격: 80.0

In [23]:
# 세 과목의 평가점수를 입력받고 test1, test2, test3 변수에 각각 할당
test1 = float(input('첫 번째 과목 점수를 입력해 주세요: '))
test2 = float(input('두 번째 과목 점수를 입력해 주세요: '))
test3 = float(input('세 번째 과목 점수를 입력해 주세요: '))

# 각 과목 점수 평균을 계산하고 결과값을 average 변수에 할당

average = (test1+test2+test3)/3.0

# 점수 평균 출력
print('3과목의 평균 점수: ', average)

첫 번째 과목 점수를 입력해 주세요: 90
두 번째 과목 점수를 입력해 주세요: 80
세 번째 과목 점수를 입력해 주세요: 100
3과목의 평균 점수:  90.0

In [24]:
# 초를 입력받아 시, 분, 초로 변환하는 프로그램.
# 초 값을 입력받아 total_seconds 변수에 할당함.
total_seconds = float(input('시간 값을 초 단위로 입력해주세요...'))

# 시간, 분, 초를 계산하여 변수에 할당
hours = (total_seconds // 3600)
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60

print('시, 분, 초는 다음과 같습니다.')
print('시:',hours)
print('분:',minutes)
print('초:',seconds)

시간 값을 초 단위로 입력해주세요...11730
시, 분, 초는 다음과 같습니다.
시: 3.0
분: 15.0
초: 30.0

In [25]:
future_value = float(input('목표 금액을 입력해주세요: '))
rate = float(input('연간 이율을 입력해주세요: '))
years = int(input('저축 기간을 연 단위로 입력해주세요: '))
present_value = future_value / (1.0+rate)**years
print('적립 금액:', present_value)

목표 금액을 입력해주세요: 10000.0
연간 이율을 입력해주세요: 0.05
저축 기간을 연 단위로 입력해주세요: 10
적립 금액: 6139.132535407592

In [27]:
print('a','b','c')
print('a','b','c',sep='')
print('a','b','c',sep='***')

a b c
abc
a***b***c

In [28]:
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')
print('f')

a
b
cde***f

In [29]:
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여: ', monthly_payment)

월급여:  416.6666666666667

In [30]:
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여: ', format(monthly_payment, '.2f'))

월급여:  416.67

In [32]:
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print("Your annual pay is $", format(annual_pay, ',.2f'), sep='')

Your annual pay is $60,000.00

In [34]:
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00